p{
    text-align: center;
    line-height: 70px;
    color: black;
    font-size: 50px;
    margin: none;
}

h2{
    text-align: center;
    line-height: 70px;
    color: black;
    font-size: 50px;
    margin: none;
}